.button-container {
    border-radius: 5px;
    padding: 5px 30px; 
    background-color: rgb(1, 1, 29);
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 0.875rem; 
    cursor: pointer;

    &:hover {
        background-color: darken(rgb(1, 1, 29), 10%);
    }
}