.login-input-container {
  width: 250px;
  display: flex;
  justify-content: center;

  .input-field {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
  }

  .text-input {
    margin-bottom: 22px;
  }

  .password-input {
    margin-bottom: 78px;
  }
}