.login-container {
    width: 594px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2f3a;
    border-radius: 11px;
    padding-top: 21px;
    padding-bottom: 81px;
    margin-top: 60px;
  }

  .error-message {
    color: red; 
    margin-top: 22px; 
    font-size: 14px; 
    margin-bottom: 78px; 
  }
  
  .logo-container { 
    margin-bottom: 52px; 
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .input-field {
    width: 250px;
    display: flex;
    justify-content: center;
  }
  
  .input-field + .input-field {
    margin-top: 78px;
  }
  
  .login-button {
    margin-bottom: 24px;
    width: 200px;
  }