.todo-container {
    display: flex;
    height: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: #2c2f3a;
  
    .todo-input-container {
      display: flex;
      justify-content: center;

      .add-task-button {
        margin-left: 24px;
      }
    }
}