.todo-list-container {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  
    .tasks-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 16px;
        background-color: #b6b6b6;
        border-radius: 6px;
        padding: 10px 10px 10px 15px;
        min-width: fit-content;
        justify-content: space-between;
    
    .task-wrapper {
        display: flex;
        align-items: center;
    }
  
      span {
        color: #999;
        border: 1px solid #999;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: flex;
        text-align: center;
        font-size: 14px;
        margin-right: 8px;
        align-items: center;
        justify-content: center;
      }
  
      li {
        align-self: center;
      }
    }
    .button {
      background-color: transparent;
    }
}


@media only screen and (min-width: 600px) {
  .tasks-container {
      width: 530px
  }

  .button {
    margin-left: 8px;
  }
}